<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="data:," />
<title>{{ album.name }}</title>
<style>
*, *:before, *:after {
    box-sizing: border-box;
}
.contact {
    background-image: image-set(
        {% for sheet in album.contact_sheets %}
        {% for format, url in sheet.url_by_format|items %}
        "{{ url | urlencode}}" {{ sheet.dpr }}x type("image/{{ format }}")
        {%- if not loop.last %}, {% endif +%}
        {% endfor %}
        {% endfor %}
    );
}
#contact-sheet {
    display: flex;
    flex-flow: row wrap;
}
.contact {
    display: block;
    background-size: {{album.contact_sheet_width_logical}}px {{album.contact_sheet_height_logical}}px;
    height: {{ album.contact_height_logical }}px;
}
.loupe {
    display: none;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background: black;
}
.loupe:target {
    display: block; /* Make visible */
}
body:has(.loupe:target) {
    overflow: hidden; /* Disable scroll bars while in the loupe */
}
body:has(.loupe:target) #contact-sheet {
    /* Prevent tab key from reaching the contact sheet while in the loupe. */
    visibility: hidden;
}
.loupe-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.loupe-picture > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.nav-pad-left, .nav-pad-right, .nav-pad-up {
    display: block;
    position: fixed;
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 52px;
    text-decoration: none;
    opacity: 0;
}
.nav-pad-left:hover, .nav-pad-right:hover, .nav-pad-up:hover,
.nav-pad-left:focus, .nav-pad-right:focus, .nav-pad-up:focus {
    opacity: 1;
}
.nav-pad-left, .nav-pad-right {
    top: 0; bottom: 0;
    width: 30vw;
    line-height: 100vh;
}
.nav-pad-up {
    top: 0px;
    width: 40vw;
    height: 30vh;
    padding-top: 20px;
    align-content: top;
    left: 0; right: 0; margin: 0 auto; /* center pad horizontally */
    text-align: center;
}
.nav-pad-left {
    text-align: left;
    left: 0;
    padding-left: 10px;
}
.nav-pad-right {
    text-align: right;
    right: 0;
    padding-right: 10px;
}
.photo-exif {
    position: fixed;
    top: 20px;
    left: 20px;
    background: rgba(127, 127, 127, 0.5);
    color: white;
    text-shadow: 0 0 5px black;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 2px;
    font-size: 16px;
}
.photo-exif p {
    margin: 0;
}
</style>
</head>
<body>
<header>
    <h1>{{ album.name }}</h1>
</header>
<div id="contact-sheet">
    {%- for photo in album.photos %}
    <a class="contact" href="#photo-{{loop.index}}" style="
     width: {{photo.contact_region.2}}px;
     background-position: -{{photo.contact_region.0}}px -{{photo.contact_region.1}}px;
    "></a>
    {%- endfor %}
</div>
{% for photo in album.photos %}
<div class="loupe" id="photo-{{ loop.index }}">
    <picture class="loupe-picture">
        {#
        Let the browser pick a thumbnail. Tested with Firefox and Chrome.
        Advantages:
        * Correct handling of DPR.
        * Will not blank the image on resize.
        * In theory, the browser can make smart decisions, like limiting
          resolution on data saver modes.
        Disadvantages:
        * In the event of a resize, both Firefox and Chrome will start downloading
          a smaller size image after already having downloaded a still suitable
          larger resolution image. This is the opposite of a smart decision.
        * Will not preload an image large enough for full screen.
        * Will not preload an image large enough to account for screen rotation.
        #}
        {% for format, thumbs in photo.loupe_thumbs|items %}
        <source type="image/{{format}}"
         srcset="{% for thumb in thumbs|reverse -%}
                 {{ thumb.url|urlencode }} {{ thumb.w }}w
                 {%- if not loop.last %}, {% endif -%}
                 {%- endfor %}">
        {% endfor %}
        <img fetchpriority="low" loading="lazy" style="aspect-ratio: {{photo.orig_width}}/{{photo.orig_height}};">
    </picture>
    <div class="nav-pads">
        {% if not loop.first %}
        <a class="nav-pad-left" href="#photo-{{ loop.index - 1 }}" title="Previous image in gallery">🡰</a>
        {% endif %}
        {% if not loop.last %}
        <a class="nav-pad-right" href="#photo-{{ loop.index + 1}}" title="Next image in gallery">🡲</a>
        {% endif %}
        <a class="nav-pad-up" href="#" title="Go back to gallery">🡱</a>
    </div>
    <div class="photo-exif">
        {% set e = photo.exif %}
        <p>{{e.FocalLengthIn35mmFormat}}<sup><abbr title="35mm equivalent focal length">eq</abbr></sup>
        {{e.ExposureTime}} f/{{e.Aperture}} ISO{{e.ISO}}</p>
    </div>
</div>
{% endfor %}
<script>
window.addEventListener("keydown", function keyDown(ev) {
    const padName = {
        "ArrowLeft": "left",
        "PageUp": "left",
        "ArrowRight": "right",
        "PageDown": "right",
        "Escape": "up",
        "Backspace": "up",
        "ArrowUp": "up",
    }[ev.key];
    if (!padName)
        return;
    const pad = document.querySelector(`.loupe:target .nav-pad-${padName}`);
    if (!pad)
        return; // not in loupe
    ev.preventDefault();
    pad.click();
});
// JS-based tight mode, because HTTP2-3 servers cannot be trusted to respect
// priorities, and browsers cannot be trusted to request the correct priorities:
window.addEventListener("load", function onLoad() {
    // As of Jul 15 2025 this assumption seems to work on Firefox 140,
    // WebKit 60.5 and Chromium 138.
    // If a browser breaks this assumption AND {the browser doesn't request the
    // correct priorities OR the server prioritizes wrong}, the page will still
    // load, but the contact sheet thumbnails will load significantly slower.
    console.log("Page loaded, asuming contacts are loaded. Loading loupe thumbnails.")
    for (const img of document.querySelectorAll("img")) {
        img.loading = "eager";
    }
});
</script>
</body>
</html>